.chatbot-custom-theme .react-chatbot-kit-chat-container {
    background-color: #ff0000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.chatbot-custom-theme .react-chatbot-kit-chat-inner-container {
    background-color: #ff0000;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.chatbot-custom-theme .react-chatbot-kit-chat-header {}
.chatbot-custom-theme .react-chatbot-kit-chat-input-container {
    background-color: #ff0000;
    border-top: 1px solid #ff0000;
    display: flex;
    flex-shrink: 0;
    padding: 10px;
    width: 100%;
}
.chatbot-custom-theme .react-chatbot-kit-chat-message-container {}
.chatbot-custom-theme .react-chatbot-kit-chat-input {}
.chatbot-custom-theme .react-chatbot-kit-chat-input-form {}
.chatbot-custom-theme .react-chatbot-kit-chat-input::placeholder {}
.chatbot-custom-theme .react-chatbot-kit-chat-btn-send {}
.chatbot-custom-theme .react-chatbot-kit-chat-btn-send-icon {}
.chatbot-custom-theme .react-chatbot-kit-chat-bot-message-container {}
.chatbot-custom-theme .react-chatbot-kit-chat-bot-avatar-container {}
.chatbot-custom-theme .react-chatbot-kit-chat-bot-avatar-icon {}
.chatbot-custom-theme .react-chatbot-kit-chat-bot-avatar-letter {}
.chatbot-custom-theme .react-chatbot-kit-chat-bot-message {
    background-color: #2898ec;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #fff;
    font-weight: medium;
    position: relative;
    width: 184.5px;
    margin-left: 0%;
    text-align: left;
}
.chatbot-custom-theme .react-chatbot-kit-chat-bot-message-arrow {}
.chatbot-custom-theme .react-chatbot-kit-chat-bot-loading-icon-container {}
.chatbot-custom-theme .chatbot-loader-container {}
.chatbot-custom-theme #chatbot-loader #chatbot-loader-dot1 {}
.chatbot-custom-theme #chatbot-loader #chatbot-loader-dot2 {}
.chatbot-custom-theme #chatbot-loader #chatbot-loader-dot3 {}
.chatbot-custom-theme .react-chatbot-kit-error {}
.chatbot-custom-theme .react-chatbot-kit-error-container {}
.chatbot-custom-theme .react-chatbot-kit-error-header {}
.chatbot-custom-theme .react-chatbot-kit-error-docs {}

#openai-chatbot .chatbot-toggle-button {
    position: fixed;  /* Mantiene il bottone fisso nella viewport */
    bottom: 20px;     /* Distanza dal fondo della viewport */
    right: 20px;      /* Distanza dal lato destro della viewport */
    font-size: 24px;  /* Dimensione dell'icona */
    cursor: pointer;  /* Mostra un puntatore a mano quando l'utente passa sopra il bottone */
    background: none; /* Nessuno sfondo per fare in modo che l'icona sia più pulita */
    border: none;     /* Nessun bordo intorno al bottone */
    color: #333333;   /* Colore dell'icona, cambialo a seconda delle tue necessità */
    z-index: 1000;    /* Assicurati che il bottone sia sopra gli altri contenuti della pagina */
    padding: 8px 12px; /* Padding intorno all'icona per migliorare la cliccabilità */
    border-radius: 50%; /* Rende il bottone circolare */
    box-shadow: 0 2px 6px rgba(0,0,0,0.3); /* Aggiunge un'ombra per migliorare la visibilità su sfondi vari */
}

#chatbot-container {
    position: fixed;  /* Fissa il chatbot nella viewport */
    bottom: 70px;     /* Alza il chatbot sopra il bottone, aggiusta questo valore in base alla dimensione del tuo bottone */
    right: 10px;      /* Allinea il chatbot con il lato destro della viewport, come il bottone */
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    z-index: 1000;    /* Assicurati che sia sopra al bottone */
    transition: transform 0.3s ease-in-out; /* Transizione elegante */
    transform: translateY(0);  /* Assicurati che parta dalla posizione giusta */
    display: none;   /* Nascondi il chatbot quando non è attivo */
    border-radius: 2%; /* Rende il bottone circolare */
}

#chatbot-container.chatbot-open {
    display: block; /* Mostra il chatbot quando il bottone è premuto */
}

.react-chatbot-kit-chat-bot-custom-message-container {
    display: flex;
    margin: 15px 0;
    justify-content: flex-start;
  }
  
  .react-chatbot-kit-chat-bot-custom-message {
    background-color: #2898ec;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #fff;
    font-weight: medium;
    position: relative;
    width: unset;
    margin-left: 0%;
    text-align: left;
  }
  